<div *ngIf="campuses" class="main-content">
  <div class="row">
    <div class="col-12">

      <div style="float: left">
        <div style="color: #595F69; font-size: 23px; margin-bottom: 17px">Manage Rooms</div>
      </div>
      <div style="clear: both"></div>
      <!-- START TABS -->
      <div>
        <div>
          <div class="tab-option clickable" [ngClass]="{ 'num-active': campusIndex == 0 }"
            (click)="getAllRooms(0, 'all')">
            All
          </div>

          <div *ngFor="let campus of campuses; let i = index" class="tab-option clickable"
            [ngClass]="{ 'num-active': campusIndex == i + 1 }" (click)="getAllRooms(i + 1, campus.name)">
            {{campus.name}}
          </div>
        </div>

        <hr style="margin-top: 0" />

        <div style="height: 10px"></div>
      </div>
      <!-- END TABS -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="input-group">
            <input type="text" value="" [(ngModel)]="searchText" class="form-control search-input"
              (keydown.enter)="onSearch($event)" placeholder="Search by room name or user manager campus" />
            <img class="btn-search" (click)="onSearch($event)" src="../../assets/images/search_icon.png" title="Search"
              width="20" />
            <button type="button" class="btn-icon btn-round btn-export ml-3" (click)="exportExcel()">
              <img src="../../assets/images/export.png" width="15" />
              Export
            </button>
          </div>
          <div class="table-responsive table-rooms">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>
                    <div class="dropdown" ngbDropdown>
                      <button
                        class="btn btn-dropdown dropdown-toggle {{isClickBtnQuantityStudent ? 'btn-dropdown-active' : ''}}"
                        type="button" id="quantityStudentDropdown" ngbDropdownToggle>
                        Quantity Student
                      </button>
                      <div class="dropdown-menu dropdown-quantity-student" ngbDropdownMenu
                        aria-labelledby="quantityStudentDropdown">
                        <a *ngFor="let item of quantityStudentList" class="dropdown-item" href="javascript:void(0)"
                          (click)="resetPageByQuantityStudent(item.id)">{{item.name}}</a>
                      </div>
                    </div>
                  </th>

                  <th>
                    <div class="dropdown" ngbDropdown>
                      <button
                        class="btn btn-dropdown dropdown-toggle {{isClickBtnTypeRoom ? 'btn-dropdown-active' : ''}}"
                        type="button" id="typeRoomDropdown" ngbDropdownToggle>
                        Type Of Room
                      </button>
                      <div class="dropdown-menu dropdown-type-room" aria-labelledby="typeRoomDropdown" ngbDropdownMenu>
                        <a *ngFor="let item of typeOfRoomList" class="dropdown-item" href="javascript:void(0)"
                          (click)="resetPageByTypeOfRoom(item.id)">{{item.name}}</a>
                      </div>
                    </div>
                  </th>
                  <th>Campus</th>
                  <th>Campus Manager</th>
                  <th>Room Payment</th>
                  <th>Water Payment</th>
                  <th>Vehicle Payment</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let room of rooms">
                  <td (click)="openModalDetailARoom(modalDetailARoom, room)">{{room.id}}</td>
                  <td (click)="openModalDetailARoom(modalDetailARoom, room)">
                    {{room.name}}
                  </td>
                  <td (click)="openModalDetailARoom(modalDetailARoom,room)">{{room.quantityStudent}}</td>
                  <td (click)="openModalDetailARoom(modalDetailARoom,room)">
                    {{room.typeRoom == null ? '--' : room.typeRoom.name}}</td>
                  <td (click)="openModalDetailARoom(modalDetailARoom,room)">{{room.campusName}}</td>
                  <td (click)="openModalDetailARoom(modalDetailARoom,room)">{{room.userManager}}</td>
                  <td (click)="openModalDetailARoom(modalDetailARoom,room)">
                    <div *ngIf="room.isPayRoom" class="pill pill-1">
                      COMPLETED
                    </div>
                    <div *ngIf="!room.isPayRoom && room.quantityStudent > 0" class="pill pill-2">
                      NOT&nbsp;COMPLETED
                    </div>
                    <div *ngIf="room.quantityStudent == 0" class="pill pill-3">
                      NO&nbsp;DATA
                    </div>
                  </td>
                  <td (click)="openModalDetailARoom(modalDetailARoom,room)">
                    <div *ngIf="room.isPayWaterBill" class="pill pill-1">
                      COMPLETED
                    </div>
                    <div *ngIf="!room.isPayWaterBill && room.quantityStudent > 0" class="pill pill-2">
                      NOT&nbsp;COMPLETED
                    </div>
                    <div *ngIf="room.quantityStudent == 0" class="pill pill-3">
                      NO&nbsp;DATA
                    </div>
                  </td>

                  <td (click)="openModalDetailARoom(modalDetailARoom,room)">
                    <div *ngIf="room.isPayVehicleBill" class="pill pill-1">
                      COMPLETED
                    </div>
                    <div *ngIf="!room.isPayVehicleBill && room.quantityStudent > 0" class="pill pill-2">
                      NOT&nbsp;COMPLETED
                    </div>
                    <div *ngIf="room.quantityStudent == 0" class="pill pill-3">
                      NO&nbsp;DATA
                    </div>
                  </td>

                  <td>
                    <i class="icon-edit mdi mdi-24px mdi-pencil-outline"
                      (click)="openModalUpdateARoom(modalUpdateARoom, room)"></i>
                  </td>
                </tr>
                <tr *ngIf="roomsTotal == 0">
                  <td colspan="9" class="no-data">No data found.</td>
                </tr>

              </tbody>
            </table>
            <div class="tbl-checkins-paging">
              <div *ngIf="roomsTotal != 0" class="row">
                <div class="col-xs-12 col-md-6">
                  <select [(ngModel)]="pageSize" (change)="resetPage()" style="padding: 11px;
                              padding-left: 9px;
                              border: 1px solid #898E93;
                              border-radius: 16px;
                              background: white;">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                  </select>
                  <div style="display: inline; color: #8a9099; margin-left: 10px; font-size: 15px; line-height: 22px">
                    Results per page</div>
                </div>

                <div class="col-xs-12 col-md-6">

                  <div class="custom-paging-wrapper">
                    <ngb-pagination id="page" [collectionSize]="roomsTotal" [(page)]="page" [maxSize]="5"
                      [pageSize]="pageSize" (pageChange)="changePage($event)" [boundaryLinks]="true">
                      <ng-template ngbPaginationFirst><i class="mdi mdi-chevron-double-left" aria-hidden="true"></i>
                      </ng-template>
                      <ng-template ngbPaginationLast><i class="mdi mdi-chevron-double-right" aria-hidden="true"></i>
                      </ng-template>
                      <ng-template ngbPaginationPrevious>Prev</ng-template>
                      <ng-template ngbPaginationNext>Next</ng-template>
                      <ng-template ngbPaginationEllipsis>...</ng-template>
                    </ngb-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- START ROOM DETAIL MODAL -->
<ng-template #modalDetailARoom let-modal class="modal fade" id="exampleModal-3" aria-labelledby="exampleModalLabel-2">
  <div class="modal-content">
    <div class="modal-header">
      <img class="icon-bill-small" src="../../assets/images/room.svg" style="margin-right: 20px;" />
      <h3 class="modal-title" id="exampleModalLabel-2">ROOM DETAIL</h3>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid d-flex flex-column">

        <div class="row">
          <div class="col-12">
            <div class="section-info">
              <div class="row">
                <div class="col-xs-6 col-md-1"></div>

                <div class="col-xs-6 col-md-3">
                  <img class="icon-bill" src="../../assets/images/room.svg" style="margin-bottom: 15px;" />
                </div>
                <div class="col-xs-6 col-md-2"></div>

                <div class="col-xs-6 col-md-6" style="margin-top: 40px;">
                  <div class="row">
                    <div class="col-xs-6 col-md-6 col-title">ROOM ID</div>
                    <div class="col-xs-6 col-md-6">
                      {{ modalRoom.id}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-md-6 col-title">ROOM NAME</div>
                    <div class="col-xs-6 col-md-6">
                      {{ modalRoom.name}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6 col-md-6 col-title">TYPE ROOM</div>
                    <div class="col-xs-6 col-md-6">
                      {{modalRoom.typeRoom ? modalRoom.typeRoom.name: '--' }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6 col-md-6 col-title">QUANTITY STUDENT</div>
                    <div class="col-xs-6 col-md-6">
                      {{modalRoom.quantityStudent}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-md-1"></div>
                <div class="col-xs-6 col-md-2 col-title">CAMPUS NAME</div>
                <div class="col-xs-6 col-md-3">
                  {{modalRoom.campusName}}
                </div>
                <div class="col-xs-6 col-md-3 col-title">USER MANAGER</div>
                <div class="col-xs-6 col-md-3">
                  {{modalRoom.userManager}}
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-md-1"></div>
                <div class="col-xs-6 col-md-2 col-title">PRICE ROOM</div>
                <div class="col-xs-6 col-md-3">
                  {{(modalRoom.priceRoom |number) + "đ / room"}}
                </div>
                <div class="col-xs-6 col-md-3 col-title">ROOM PAYMENT</div>
                <div class="col-xs-6 col-md-3"
                  [ngStyle]=" {'color': modalRoom.isPayRoom && modalRoom.quantityStudent > 0 ? ' #20a144' : !modalRoom.isPayRoom && modalRoom.quantityStudent > 0 ? '#f05c54' : '#ebdc10', 'font-weight': 'bold' } ">
                  {{modalRoom.isPayRoom && modalRoom.quantityStudent > 0 ? "COMPLETED" : !modalRoom.isPayRoom && modalRoom.quantityStudent > 0? 'NOT COMPLETED' : 'NO DATA'}}
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-md-1"></div>
                <div class="col-xs-6 col-md-2 col-title">PRICE WATER</div>
                <div class="col-xs-6 col-md-3">
                  {{(modalRoom.priceWater | number ) + "đ / person"}}
                </div>
                <div class="col-xs-6 col-md-3 col-title">WATER PAYMENT</div>
                <div class="col-xs-6 col-md-3"
                  [ngStyle]=" {'color': modalRoom.isPayWaterBill && modalRoom.quantityStudent > 0 ? ' #20a144' : !modalRoom.isPayWaterBill && modalRoom.quantityStudent > 0 ? '#f05c54' : '#ebdc10', 'font-weight': 'bold' } ">
                  {{modalRoom.isPayWaterBill && modalRoom.quantityStudent > 0 ? "COMPLETED" : !modalRoom.isPayWaterBill && modalRoom.quantityStudent > 0? 'NOT COMPLETED' : 'NO DATA'}}
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-md-1"></div>
                <div class="col-xs-6 col-md-2 col-title">PRICE VEHICLE</div>
                <div class="col-xs-6 col-md-3">
                  {{(modalRoom.priceVehicle | number ) + "đ / person"}}
                </div>
                <div class="col-xs-6 col-md-3 col-title">VEHICLE PAYMENT</div>
                <div class="col-xs-6 col-md-3"
                  [ngStyle]=" {'color': modalRoom.isPayVehicleBill && modalRoom.quantityStudent > 0 ? ' #20a144' : !modalRoom.isPayVehicleBill && modalRoom.quantityStudent > 0 ? '#f05c54' : '#ebdc10', 'font-weight': 'bold' } ">
                  {{modalRoom.isPayVehicleBill && modalRoom.quantityStudent > 0 ? "COMPLETED" : !modalRoom.isPayVehicleBill && modalRoom.quantityStudent > 0? 'NOT COMPLETED' : 'NO DATA'}}
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <!-- Student Detail in a Room -->
            <div class="section-student-wrapper">
              <div class="section-result">
                <div *ngFor="let student of modalRoom.students; let i = index" class="section-student">
                  <div class="row">
                    <div class="col-xs-12 col-section-title">Student</div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-3">
                      <img class="icon-middle" src="../../assets/images/student.svg" />
                    </div>
                    <div class="col-xs-6 col-md-1"></div>

                    <div class="col-xs-6 col-md-6">
                      <div class="row">
                        <div class="col-xs-6 col-md-6 col-title">ID</div>
                        <div class="col-xs-6 col-md-6">
                          {{ student.id }}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-6 col-md-6 col-title">NAME</div>
                        <div class="col-xs-6 col-md-6">
                          {{ student.name |uppercase}}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-6 col-md-6 col-title">EMAIL</div>
                        <div class="col-xs-6 col-md-6">
                          {{student.email}}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-6 col-md-6 col-title">PHONE NUMBER</div>
                        <div class="col-xs-6 col-md-6">
                          {{ student.phone }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="section-student" *ngIf=" modalRoom.students.length === 0">
                  <div class="row">
                    <div class="col-xs-12 col-section-title">Student</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-12 col-title">There is no any student associated yet.</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- START UPDATE ROOM MODAL -->
<ng-template #modalUpdateARoom let-modal class="modal fade" id="exampleModal-3" aria-labelledby="exampleModalLabel-3">
  <div class="modal-content">
    <div class="modal-header">
      <img class="icon-bill-small" src="../../assets/images/room.svg" style="margin-right: 20px;" />
      <h3 class="modal-title" id="exampleModalLabel-3">UPDATE ROOM</h3>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row create-room-section">
        <div class="col-12">
          <div class="section-info">

            <form name="newRoomForm" class="newRoomForm">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-left">
                  <label for="roomId">Room Id</label>
                  <input name="roomId" [(ngModel)]="newRoomForm.id" class="disable-input" readonly />
                </div>
                <div class="col-xs-12 col-md-6 col-right">
                  <label for="roomName">Room Name</label>
                  <input name="roomName" [(ngModel)]="newRoomForm.name" class="disable-input" readonly />
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-6 col-left">
                  <label for="userManager">User Manager</label>
                  <input name="userManager" [(ngModel)]="newRoomForm.userManager" class="disable-input" readonly />
                </div>
                <div class="col-xs-12 col-md-6 col-right">
                  <label for="campusName">Campus Name</label>
                  <input name="campusName" [(ngModel)]="newRoomForm.campusName" class="disable-input" readonly />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6 col-left">

                  <label for="typeRoom">Type Room</label>
                  <ng-select name="typeRoom" [items]="typeOfRoomList" [virtualScroll]="true" bindLabel="name"
                    bindValue="id" [(ngModel)]="typeRoomId" (change)="checkQuantityStudent(typeRoomId)">
                  </ng-select>
                </div>
              </div>

              <div class="row" *ngIf="typeRoomError">
                <div class="col-xs-12 col-md-6 col-left">
                  <p class="alert alert-danger" style="margin-bottom: 0;">{{typeRoomError}}</p>
                </div>
              </div>
            </form>
          </div>

          <div class="section-student-room">
            <!-- <div class="section-search">
              <div class="section-search-multiselect">
                <ng-select class="people-select" [multiple]="true" [items]="arrStudent" [(ngModel)]="selectedStudentIds"
                  bindLabel="name" bindValue="id" placeholder="Search student by name or email"
                  (search)="onSearchMultiSelect($event)">
                  <ng-template ng-label-tmp let-item="item">
                    <span class="ng-value-icon left" (click)="unselect(item)" aria-hidden="true">×</span>
                    <span class="ng-value-label">{{ item.label }}</span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    <div>{{ item.name }}</div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="section-search-btn-wrapper">
                <button class="btn btn-add"><img src="../../assets/images/plus_icon.png" width="14" />
                  Add Students</button>
              </div>
              <div class="section-people-result">
                <p *ngIf="addPeopleErrorMsg" class="alert alert-danger">{{ addPeopleErrorMsg }}</p>
              </div>
            </div> -->
            <div class="section-student" *ngFor="let student of newRoomForm.students; let i = index">
              <div class="section-result">
                <div>
                  <div class="row">
                    <div class="col-xs-12 col-section-title">Student</div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <button class="btn btn-remove" (click)="removeStudent(student)"><img
                          src="../../assets/images/icon_cross.png" width="10" />Remove</button>
                    </div>
                    <div class="col-xs-6 col-md-2 col-title">ID</div>
                    <div class="col-xs-6 col-md-3">
                      {{ student.id}}
                    </div>
                    <div class="col-xs-6 col-md-3 col-title">EMAIL</div>
                    <div class="col-xs-6 col-md-4">
                      {{ student.email }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6 col-md-2 col-title">STUDENT NAME</div>
                    <div class="col-xs-6 col-md-3">
                      {{student.name| titlecase }}
                    </div>
                    <div class="col-xs-6 col-md-3 col-title">PHONE</div>
                    <div class="col-xs-6 col-md-4">
                      {{student.phone}}
                    </div>
                  </div>
                </div>
                <div class="section-related-people" *ngIf="newRoomForm.students.length == 0">
                  <div class="row">
                    <div class="col-xs-12 col-section-title">Student</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-12 col-title">There is no any student associated yet.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="saveChange()">Submit</button>
      <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
    </div>
  </div>
</ng-template>