.create-room-section {
  .section-student-room {
    padding: 0px 24px;
    .section-result {
      .btn-remove {
        position: absolute;
        right: 10px;
        top: -56px;
        width: 102px;
        height: 45px;
        background: #ffffff;
        color: #3f434a;
        border: 1px solid #898e93;
        box-sizing: border-box;
        border-radius: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        padding: 14px;
        img {
          margin-right: 10px;
        }
      }
    }
    .section-search {
      display: inline-block;
      width: 100%;
      padding: 20px 0;
      .section-search-multiselect,
      .section-search-btn-wrapper {
        display: inline-block;
        width: 50%;
        .btn-add {
          width: 134px;
          height: 45px;
          border: 1px solid #898e93;
          padding: 14px;
          border-radius: 14px;
          margin-left: 20px;
        }
        .people-select {
          .ng-dropdown-panel {
            .ng-dropdown-panel-items {
              .ng-option {
                &.ng-option-marked {
                  background-color: #f2f2f7 !important;
                  // height: 54px !important;
                  // width: 478px;
                }
              }
            }
          }
        }
      }
    }
  }
}
