<div class="container">

    <div class="main-content">
        <div class="row">
            <div class="input-group">
                <input type="text" value="" [(ngModel)]="searchText" class="form-control search-input"
                    (keydown.enter)="onSearch($event)" placeholder="Tìm kiếm bởi tên phòng hoặc loại phòng" />
                <img class="btn-search-find-room" (click)="onSearch($event)" src="../../assets/images/search_icon.png"
                    title="Search" width="20" />
            </div>
        </div>
    </div>

    <div class="row">
        <div style="float: left">
            <div style="color: #595F69; font-size: 23px; margin-bottom: 17px">Những phòng còn trống</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-12 d-flex justify-content-center">
            <div class="grid-container">
                <div *ngFor="let roomAndRegister of roomAndRegisterCountList" class="grid-item">
                    <div class="panel"
                        [ngClass]="(roomAndRegister.count == roomAndRegister.detailRoomDto.typeRoom.maxQuantity - roomAndRegister.detailRoomDto.quantityStudent) ? 'disable-panel' : ''"
                        (click)="openModalRemainingRoom(modalDetailARemainingRoom, roomAndRegister)">

                        <div class="row">
                            <div class="col-xs-6 col-md-12">
                                <img class="icon-bill-middle" src="../../assets/images/room.svg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-12">
                                <span>{{roomAndRegister.detailRoomDto.name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-12">
                                <span>{{roomAndRegister.detailRoomDto.typeRoom.name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-12">
                                <span>{{roomAndRegister.detailRoomDto.quantityStudent}}/{{roomAndRegister.detailRoomDto.typeRoom.maxQuantity}}
                                    người</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-12">
                                <span>{{roomAndRegister.count}}/{{roomAndRegister.detailRoomDto.typeRoom.maxQuantity -
                                    roomAndRegister.detailRoomDto.quantityStudent}}
                                    đăng ký</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detail -->
<ng-template #modalDetailARemainingRoom let-modal class="modal fade" id="modalDetailARemainingRoom"
    aria-labelledby="modalDetailARemainingRoomLabel">
    <div class="modal-content">
        <div class="modal-header">
            <img class="icon-bill-small" src="../../assets/images/room.svg" style="margin-right: 20px;" />
            <h3 class="modal-title" id="modalDetailARemainingRoomLabel">CHI TIẾT PHÒNG</h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="section-info">
                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-3">
                        <img class="icon-bill" src="../../assets/images/room.svg" style="margin-bottom: 15px;" />
                    </div>
                    <div class="col-xs-6 col-md-2"></div>
                    <div *ngIf="modalRemainingRoom.id" class="col-xs-6 col-md-6">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">ID PHÒNG
                            </div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalRemainingRoom.id}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">TÊN PHÒNG
                            </div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalRemainingRoom.name}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">LOẠI PHÒNG
                            </div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalRemainingRoom.typeRoom.name}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">TIỀN PHÒNG
                            </div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalRemainingRoom.priceRoom}} / phòng
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">TIỀN NƯỚC
                            </div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalRemainingRoom.priceWater}} / người
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">TIỀN XE
                            </div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalRemainingRoom.priceVehicle}} / người
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">SỐ CHỖ TRỐNG
                            </div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalRemainingRoom.typeRoom.maxQuantity - modalRemainingRoom.quantityStudent}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                        <div class="row">
                            <div class="col-xs-6 col-md-1"></div>
                            <div *ngIf="!isShowStudent" class="col-xs-6 col-md-11">
                                <a (click)="showStudentOrNot()" class="col-title" style="cursor: pointer;">Xem sinh
                                    viên</a>
                            </div>
                        </div>
                        <!-- Student Detail in a Room -->
                        <div class="row">
                            <div class="col-xs-6 col-md-1"></div>
                            <div class="col-xs-12 col-md-10">
                                <div *ngIf="isShowStudent" class="section-student-wrapper">
                                    <div *ngIf="modalRemainingRoom.students" class="section-result">
                                        <div *ngFor="let student of modalRemainingRoom.students; let i = index"
                                            class="section-student">
                                            <div class="row">
                                                <div class="col-xs-12 col-section-title">Sinh viên</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6 col-md-11">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-md-3 col-title">ID</div>
                                                        <div class="col-xs-6 col-md-9">
                                                            {{ student.id }}
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-6 col-md-3 col-title">HỌ VÀ TÊN</div>
                                                        <div class="col-xs-6 col-md-9">
                                                            {{ student.name |uppercase}}
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-6 col-md-3 col-title">MÃ SỐ SINH VIÊN</div>
                                                        <div class="col-xs-6 col-md-9">
                                                            {{student.idCard}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="section-student" *ngIf=" modalRemainingRoom.students.length === 0">
                                            <div class="row">
                                                <div class="col-xs-12 col-section-title">Sinh viên</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12 col-title">Không có bất kỳ sinh viên nào
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-1"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div *ngIf="!isRegisterRoom" class="col-xs-6 col-md-11">
                        <a (click)="showOrNot()" class="col-title" style="cursor: pointer;">Đăng
                            ký phòng</a>
                    </div>

                    <div *ngIf="isRegisterRoom" class="col-xs-6 col-md-11">
                        <form name="newRoomForm" class="newRoomForm" #form="ngForm">
                            <div class="row">
                                <div class="col-xs-6 col-md-11">
                                    <label for="idCard">Mã số sinh viên</label>
                                    <input name="idCard" [(ngModel)]="modalRemainingRoomNew.idCard" class="form-control"
                                        required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-11">
                                    <label for="studentName">Tên sinh viên</label>
                                    <input name="studentName" [(ngModel)]="modalRemainingRoomNew.studentName"
                                        class="form-control" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-11">
                                    <label for="birthday">Sinh nhật</label>
                                    <input type="text" name="birthday" placeholder="Datepicker"
                                        class="form-control input-date" bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}"
                                        [(ngModel)]=" modalRemainingRoomNew.birthday" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-11">
                                    <label for="address">Địa chỉ</label>
                                    <input name="address" [(ngModel)]="modalRemainingRoomNew.address"
                                        class="form-control" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-11">
                                    <label for="phone">Số điện thoại</label>
                                    <input name="phone" [(ngModel)]="modalRemainingRoomNew.phone" class="form-control"
                                        required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-11">
                                    <label for="email">Email</label>
                                    <input name="email" [(ngModel)]="modalRemainingRoomNew.email" class="form-control"
                                        required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-11 d-flex justify-content-end">
                                    <button type="button" class="btn btn-success" [disabled]="!form.valid"
                                        (click)="save()">Lưu</button>
                                    <button type="button" class="btn btn-light" (click)="cancel()">Hủy</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>