// custom pagination of ng-boostrap
.pagination {
  & > li {
    & > a,
    &span {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: #3f434a;
      border: none !important;
      border-radius: 10px !important;
      padding: 5px 15px;
      &:focus,
      &:hover {
        background-color: #e7e7ff !important;
        color: #394247 !important;
        outline: none !important;
        box-shadow: none !important;
      }

      &:active {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }

  & > .active {
    & > a,
    & > a:hover,
    & > a:focus {
      background: #6e6bc6 !important;
      color: #fff !important;
      border: none !important;
    }
  }

  .paginate_button {
    &.active {
      a,
      a:hover,
      a:focus {
        background-color: #868585 !important;
        border-color: #868585 !important;
      }
    }
  }
}

//modal
.modal-dialog {
  max-width: 1050px;
  .modal-content {
    background-color: #fff !important;
  }
}
