<div *ngIf="campuses" class="main-content">
    <div class="row">
        <div class="col-12">

            <div style="float: left">
                <div style="color: #595F69; font-size: 23px; margin-bottom: 17px">Manage Students</div>
            </div>
            <div style="clear: both"></div>
            <!-- START TABS -->
            <div>
                <div>
                    <div class="tab-option clickable" [ngClass]="{ 'num-active': campusIndex == 0 }"
                        (click)="getAllStudents(0, 'all')">
                        All
                    </div>

                    <div *ngFor="let campus of campuses; let i = index" class="tab-option clickable"
                        [ngClass]="{ 'num-active': campusIndex == i + 1 }" (click)="getAllStudents(i + 1, campus.name)">
                        {{campus.name}}
                    </div>
                </div>

                <hr style="margin-top: 0" />

                <div style="height: 10px"></div>
            </div>
            <!-- END TABS -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" value="" [(ngModel)]="searchText" class="form-control search-input"
                            (keydown.enter)="onSearch($event)"
                            placeholder="Search by student name or user manager or room name" />
                        <img class="btn-search" (click)="onSearch($event)" src="../../assets/images/search_icon.png"
                            title="Search" width="20" />
                        <button type="button" class="btn-icon btn-round btn-export ml-3">
                            <img src="../../assets/images/export.png" width="15" />
                            Export
                        </button>
                    </div>
                    <div class="table-responsive table-rooms">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Room</th>
                                    <th>Room Payment</th>
                                    <th>Water Payment</th>
                                    <th>Vehicle Payment</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let student of students">
                                    <td (click)="openModalDetailAStudent(modalDetailAStudent,student)">
                                        {{student.id}}
                                    </td>
                                    <td (click)="openModalDetailAStudent(modalDetailAStudent,student)">{{student.name}}
                                    </td>
                                    <td (click)="openModalDetailAStudent(modalDetailAStudent,student)">
                                        {{student.phone}}</td>
                                    <td (click)="openModalDetailAStudent(modalDetailAStudent,student)">
                                        {{student.roomDto ? student.roomDto.name: '--'}}
                                    </td>
                                    <td (click)="openModalDetailAStudent(modalDetailAStudent,student)">
                                        <div *ngIf="student.isPayRoom" class="pill pill-1">
                                            COMPLETED
                                        </div>
                                        <div *ngIf="!student.isPayRoom" class="pill pill-2">
                                            NOT&nbsp;COMPLETED
                                        </div>
                                    </td>
                                    <td (click)="openModalDetailAStudent(modalDetailAStudent,student)">
                                        <div *ngIf="student.isPayWaterBill" class="pill pill-1">
                                            COMPLETED
                                        </div>
                                        <div *ngIf="!student.isPayWaterBill" class="pill pill-2">
                                            NOT&nbsp;COMPLETED
                                        </div>
                                    </td>

                                    <td (click)="openModalDetailAStudent(modalDetailAStudent,student)">
                                        <div *ngIf="student.isPayVehicleBill" class="pill pill-1">
                                            COMPLETED
                                        </div>
                                        <div *ngIf="!student.isPayVehicleBill" class="pill pill-2">
                                            NOT&nbsp;COMPLETED
                                        </div>
                                    </td>

                                    <td (click)="openModalDeleteStudent(modalDeleteStudent, student)">
                                        <div *ngIf="student.active" class="pill pill-1">
                                            ACTIVED
                                        </div>
                                        <div *ngIf="!student.active" class="pill pill-2">
                                            UNACTIVED
                                        </div>
                                    </td>

                                    <td>
                                        <i class="icon-edit mdi mdi-24px mdi-pencil-outline"
                                            (click)="openModalUpdateAStudent(modalUpdateAStudent, student)"></i>
                                    </td>
                                </tr>
                                <tr *ngIf="studentTotal == 0">
                                    <td colspan="8" class="no-data">No data
                                        found.</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="tbl-checkins-paging">
                            <div *ngIf="studentTotal != 0" class="row">
                                <div class="col-xs-12 col-md-6">
                                    <select [(ngModel)]="pageSize" (change)="resetPage()" style="padding: 11px;
                                padding-left: 9px;
                                border: 1px solid #898E93;
                                border-radius: 16px;
                                background: white;">
                                        <option>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                    </select>
                                    <div
                                        style="display: inline; color: #8a9099; margin-left: 10px; font-size: 15px; line-height: 22px">
                                        Results per page</div>
                                </div>

                                <div class="col-xs-12 col-md-6">

                                    <div class="custom-paging-wrapper">
                                        <ngb-pagination id="page" [collectionSize]="studentTotal" [(page)]="page"
                                            [maxSize]="5" [pageSize]="pageSize" (pageChange)="changePage($event)"
                                            [boundaryLinks]="true">
                                            <ng-template ngbPaginationFirst><i class="mdi mdi-chevron-double-left"
                                                    aria-hidden="true"></i>
                                            </ng-template>
                                            <ng-template ngbPaginationLast><i class="mdi mdi-chevron-double-right"
                                                    aria-hidden="true"></i>
                                            </ng-template>
                                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                                            <ng-template ngbPaginationNext>Next</ng-template>
                                            <ng-template ngbPaginationEllipsis>...</ng-template>
                                        </ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- START ROOM DETAIL MODAL -->
<ng-template #modalDetailAStudent let-modal class="modal fade" id="modalDetailAStudent"
    aria-labelledby="modalDetailAStudentLabel">
    <div class="modal-content">
        <div class="modal-header">
            <img class="icon-bill-small" src="../../assets/images/student.svg" style="margin-right: 20px;" />
            <h3 class="modal-title" id="modalDetailAStudentLabel">STUDENT DETAIL</h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="section-info">

                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>

                    <div class="col-xs-6 col-md-3">
                        <img class="icon-bill" src="../../assets/images/student.svg" style="margin-bottom: 15px;" />
                    </div>
                    <div class="col-xs-6 col-md-2"></div>

                    <div class="col-xs-6 col-md-6" style="margin-top: 40px;">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">ID</div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalStudent.id}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">EMAIL</div>
                            <div class="col-xs-6 col-md-6">
                                {{modalStudent.email}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">NAME</div>
                            <div class="col-xs-6 col-md-6">
                                {{ modalStudent.name}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-title">ADDRESS</div>
                            <div class="col-xs-6 col-md-6">
                                {{modalStudent.address}}
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-2 col-title">BIRTHDAY</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.birthday}}
                    </div>
                    <div class="col-xs-6 col-md-3 col-title">ROOM NAME</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.roomDto ? modalStudent.roomDto.name : '--'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-2 col-title">PHONE</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.phone}}
                    </div>

                    <div class="col-xs-6 col-md-3 col-title">TYPE ROOM</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.roomDto ? modalStudent.roomDto.typeRoomName : '--'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-2 col-title">START DATE</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.startingDateOfStay}}
                    </div>
                    <div class="col-xs-6 col-md-3 col-title">CAMPUS NAME</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.roomDto ? modalStudent.roomDto.campusName : '--'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-2 col-title">END DATE</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.endingDateOfStay ? modalStudent.endingDateOfStay : 'N/A'}}
                    </div>
                    <div class="col-xs-6 col-md-3 col-title">USER MANAGER</div>
                    <div class="col-xs-6 col-md-3">
                        {{modalStudent.roomDto ? modalStudent.roomDto.userManager :'--'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-2 col-title">ROOM PAYMENT</div>
                    <div class="col-xs-6 col-md-3"
                        [ngStyle]=" {'color': modalStudent.isPayRoom ? ' #20a144' :  '#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.isPayRoom ? "COMPLETED" :  'NOT COMPLETED'}}
                    </div>

                    <div class="col-xs-6 col-md-3 col-title">VEHICLE PAYMENT</div>
                    <div class="col-xs-6 col-md-3"
                        [ngStyle]=" {'color': modalStudent.isPayVehicleBill ? ' #20a144' : '#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.isPayVehicleBill ? "COMPLETED" : 'NOT COMPLETED' }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-1"></div>
                    <div class="col-xs-6 col-md-2 col-title">WATER PAYMENT</div>
                    <div class="col-xs-6 col-md-3"
                        [ngStyle]=" {'color': modalStudent.isPayWaterBill ? ' #20a144' :'#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.isPayWaterBill  ? "COMPLETED" : 'NOT COMPLETED'}}
                    </div>

                    <div class="col-xs-6 col-md-3 col-title">STATUS</div>
                    <div class="col-xs-6 col-md-3"
                        [ngStyle]=" {'color': modalStudent.active ? ' #20a144' : '#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.active ? "ACTIVED" : 'UNACTIVED' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- START UPDATE STUDENT MODAL -->
<ng-template #modalUpdateAStudent let-modal class="modal fade" id="modalUpdateAStudent"
    aria-labelledby="modalUpdateAStudentLabel">
    <div class="modal-content">
        <div class="modal-header">
            <img class="icon-bill-small" src="../../assets/images/student.svg" style="margin-right: 20px;" />
            <h3 class="modal-title" id="modalUpdateAStudentLabel">UPDATE STUDENT</h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row create-room-section">
                <div class="col-12">
                    <div class="section-info">

                        <form name="newRoomForm" class="newRoomForm">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-left">
                                    <label for="id">Student Id</label>
                                    <input name="id" [(ngModel)]="modalStudentUpdate.id" class="disable-input"
                                        readonly />
                                </div>
                                <div class="col-xs-12 col-md-6 col-right">
                                    <label for="email">Email</label>
                                    <input name="email" [(ngModel)]="modalStudentUpdate.email" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-left">
                                    <label for="name">Student Name</label>
                                    <input name="name" [(ngModel)]="modalStudentUpdate.name" required />
                                </div>
                                <div class="col-xs-12 col-md-6 col-right">
                                    <label for="address">Address</label>
                                    <input name="address" [(ngModel)]="modalStudentUpdate.address" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-left form-group">
                                    <label for="birthday">Birthday</label>
                                    <input type="text" name="birthday" placeholder="Datepicker"
                                        class="form-control input-date" bsDatepicker
                                        [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}"
                                        [(ngModel)]=" modalStudentUpdate.birthday" required />
                                </div>
                                <div class="col-xs-12 col-md-6 col-right">
                                    <label for="roomName">Room Name</label>
                                    <div class="section-search">
                                        <div class="section-search-multiselect">
                                            <ng-select name="roomName" class="people-select" [multiple]="true"
                                                [items]="arrRooms" [(ngModel)]="selectedRoomIds" bindLabel="name"
                                                bindValue="id" placeholder="Search student by name or email"
                                                (search)="onSearchMultiSelect($event)">
                                                <ng-template ng-label-tmp let-item="item">
                                                    <span class="ng-value-icon left" (click)="unselect(item)"
                                                        aria-hidden="true">×</span>
                                                    <span class="ng-value-label">{{ item.label }}</span>
                                                </ng-template>
                                                <ng-template ng-option-tmp let-item="item">
                                                    <div>{{ item.name }}</div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-left">
                                    <label for="phone">Phone</label>
                                    <input name="phone" [(ngModel)]="modalStudentUpdate.phone" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-left">
                                    <label for="startDate">Start Date</label>
                                    <input type="text" name="startDate" placeholder="Datepicker"
                                        class="form-control input-date" bsDatepicker
                                        [(ngModel)]="modalStudentUpdate.startingDateOfStay" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-left">
                                    <label for="endDate">End Date</label>
                                    <input type="text" name="endDate" placeholder="Datepicker"
                                        class="form-control input-date" bsDatepicker
                                        [(ngModel)]="modalStudentUpdate.endingDateOfStay" />
                                </div>
                            </div>

                            <div class="row" *ngIf="studentUpdateError">
                                <div class="col-xs-12 col-md-6 col-left">
                                    <p class="alert alert-danger" style="margin-bottom: 0;">{{studentUpdateError}}</p>
                                </div>
                            </div>

                            <!-- <div class="row">
                    <div class="col-xs-6 col-md-2 col-title">ROOM PAYMENT</div>
                    <div class="col-xs-6 col-md-3"
                        [ngStyle]=" {'color': modalStudent.isPayRoom ? ' #20a144' :  '#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.isPayRoom ? "COMPLETED" :  'NOT COMPLETED'}}
                    </div>
                    <div class="col-xs-6 col-md-3 col-title">POWER PAYMENT</div>
                    <div class="col-xs-6 col-md-4"
                        [ngStyle]=" {'color': modalStudent.isPayPowerBill ? ' #20a144' : '#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.isPayPowerBill ? "COMPLETED" : 'NOT COMPLETED' }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-2 col-title">WATER PAYMENT</div>
                    <div class="col-xs-6 col-md-3"
                        [ngStyle]=" {'color': modalStudent.isPayWaterBill ? ' #20a144' :'#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.isPayWaterBill  ? "COMPLETED" : 'NOT COMPLETED'}}
                    </div>
                    <div class="col-xs-6 col-md-3 col-title">VEHICLE PAYMENT</div>
                    <div class="col-xs-6 col-md-4"
                        [ngStyle]=" {'color': modalStudent.isPayVehicleBill ? ' #20a144' : '#f05c54', 'font-weight': 'bold' } ">
                        {{modalStudent.isPayVehicleBill ? "COMPLETED" : 'NOT COMPLETED' }}
                    </div>
                </div> -->

                            <!-- <div class="row" *ngIf="typeRoomError">
                  <div class="col-xs-12 col-md-6 col-left">
                    <p class="alert alert-danger" style="margin-bottom: 0;">{{typeRoomError}}</p>
                  </div>
                </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="saveChange()">Submit</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #modalDeleteStudent let-modal class="modal fade modal-a" id="modalDelete"
    aria-labelledby="modalDeleteStudentLabel">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modalDelete">CHANGE STUDENT STATUS</h3>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="text-align: center; font-family: Roboto;">
            <h4>Bạn có chắc là muốn vô hiệu hóa sinh viên này không?</h4>
            <h5>Số tiền phòng mà sinh viên {{studentLeft.numberOfRoomMoney > 0 ? 'được nhận lại' : 'phải trả'}} là:
                {{(studentLeft.numberOfRoomMoney | number) + 'đ'}}</h5>
            <h5>Số tiền nước mà sinh viên {{studentLeft.numberOfWaterMoney > 0 ? 'được nhận lại' : 'phải trả'}} lại
                là:
                {{(studentLeft.numberOfWaterMoney | number) + 'đ'}}</h5>
            <h5>Số tiền xe mà sinh viên {{studentLeft.numberOfVehicleMoney > 0 ? 'được nhận lại' : 'phải trả'}} lại
                là:
                {{(studentLeft.numberOfVehicleMoney | number) + 'đ'}}</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="saveDelete()">Submit</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
        </div>
    </div>
</ng-template>