.main-content {
  .create-user-btn {
    .btn-new-user {
      font-family: Roboto;
      background: #b66dff !important;
      color: #ffffff !important;
      margin-bottom: 17px;
      border-radius: 14px;
    }
  }
}
