.main-content {
  .btn-new-price-list {
    font-family: Roboto;
    background: #b66dff !important;
    color: #ffffff !important;
    margin-bottom: 17px;
    border-radius: 14px;
  }
}

.btn-search-price-list {
  cursor: pointer;
  position: absolute;
  right: 30px !important;
  top: 8px !important;
}
